---
import Experiences from '../components/experiences/index.astro'
import Hackathons from '../components/hackathons/index.astro'
import ArrowRight from '../icons/arrow-right-icon.astro'
import AppleWalletIcon from '../icons/apple-wallet-icon.astro'
import GithubIcon from '../icons/github-icon.astro'
import GoogleWalletIcon from '../icons/google-wallet-icon.astro'
import LeafIcon from '../icons/leaf-icon.astro'
import LinkedinIcon from '../icons/linkedin-icon.astro'
import XIcon from '../icons/x-icon.astro'
import Layout from '../layouts/layout.astro'
import { WALLET } from '../lib/wallet.astro'
import '../styles/index.css'

const socials = [
  {
    name: 'github',
    url: 'https://github.com/taroj1205',
    icon: GithubIcon,
  },
  {
    name: 'x',
    url: 'https://x.com/taroj1205',
    icon: XIcon,
  },
  {
    name: 'linkedin',
    url: 'https://www.linkedin.com/in/taroj/',
    icon: LinkedinIcon,
  },
]
---

<Layout>
  <header>
    <h1>
      <a href="/">
        <span style="view-transition-name: name;">taroj1205</span>
        <LeafIcon style="view-transition-name: leaf;" />
      </a>
    </h1>
    <section>
      <h2 class="sr-only">Introduction</h2>
      <p>
        I'm a developer based in New Zealand, and a student at University of
        Auckland.
      </p>
      <p>I study Computer Science and IT Management.</p>
      <p>
        Currently: open-source contributor, building frontend with occasional
        backend.
      </p>
      <p>
        Focus: OSS contributions and frontend, with occasional backend work.
      </p>
      <p>
        Stack: TypeScript, Next.js, TanStack Router/Start, TanStack Query,
        Astro.
      </p>
      <a href="/about"
        >Read more <ArrowRight /><span class="sr-only"
          >about me in more depth!</span
        ></a
      >
    </section>
    <section class="socials">
      <h2 class="sr-only">Social links</h2>
      {
        socials.map(({ name, url, icon: Icon }) => (
          <a href={url} target="_blank" rel="noopener noreferrer">
            <span class="sr-only">{name}</span>
            <Icon />
          </a>
        ))
      }
    </section>
    <section class="wallet">
      <h2 class="sr-only">Wallet links</h2>
      {
        WALLET.map(({ name, url, icon }) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class={`wallet-link wallet-link--${name.toLowerCase()}`}
          >
            <span class="sr-only">{name}</span>
            <img src={icon} alt={name} class="wallet-icon" />
          </a>
        ))
      }
    </section>
  </header>
  <main id="main-content">
    <Experiences />

    <Hackathons />
  </main>
</Layout>
