---
import Header from '../components/header.astro'
import ArrowRightIcon from '../icons/arrow-right-icon.astro'
import Layout from './layout.astro'
import '../styles/blog-post.css'
import type { ImageMetadata } from 'astro'
import Image from '~/components/ui/image.astro'

interface Props {
  frontmatter: {
    title: string
    date: string
    tags?: string[]
    categories?: string[]
    coverImage?: ImageMetadata
    excerpt?: string
  }
}

const { frontmatter } = Astro.props
---

<Layout title={frontmatter.title} description={frontmatter.excerpt}>
  <Header isBlog />
  <main class="post" id="main-content">
    <article>
      <section class="post__header">
        <h1 class="post__title">
          <span style={`view-transition-name: blog-title-${Astro.params.slug}`}>
            {frontmatter.title}
          </span>
        </h1>
        <div class="post__meta">
          <time
            datetime={frontmatter.date}
            style={`view-transition-name: blog-date-${frontmatter.date}`}
          >
            {
              new Date(frontmatter.date).toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })
            }
          </time>
          {
            frontmatter.tags && (
              <ul class="post__tags">
                {frontmatter.tags.map(tag => (
                  <li
                    class="post__tag"
                    style={`view-transition-name: blog-tag-${tag.toLowerCase().replace(/\s+/g, '-')}`}
                  >
                    {tag}
                  </li>
                ))}
              </ul>
            )
          }
        </div>
      </section>
      {
        frontmatter.coverImage && (
          <Image
            src={frontmatter.coverImage}
            alt={frontmatter.title}
            class="post__cover"
            style={`view-transition-name: blog-cover-${Astro.params.slug}`}
          />
        )
      }
      <div class="post__content">
        <slot />
      </div>
    </article>
    <div class="back-link">
      <a href="/blog" class="back-link__button">
        <ArrowRightIcon />
        <span>Back to Blog</span>
      </a>
    </div>
  </main>
</Layout>
